* {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 16px;
}
a {
  color: #fff;
}
a:visited {
  text-decoration: underline;
}
p {
  line-height: 22px;
}
h4 {
  margin-left: 25px;
}
hr {
  margin: 25px 0 25px 0;
}
ul {
  list-style: square;
  margin: 10px;
}
ul li {
  margin-left: 30px;
}
i {
  margin-right: 6px;
  color: rgb(109, 141, 141);
}
h1 {
  margin-bottom: 15px;
}
body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: rgb(107, 106, 124);
  background: radial-gradient(
    circle,
    rgba(107, 106, 124, 1) 0%,
    rgba(112, 112, 157, 1) 35%,
    rgba(22, 23, 23, 1) 100%
  );
}
main {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  box-shadow: -4px 11px 92px 13px rgba(0, 0, 0, 0.45);
  margin: 80px;
  width: 80%;
  background-color: white;
}

#card {
  margin: 20px 0 20px 0;
  line-height: 20px;
}
.resume {
  margin-top: 45px;
}
#github {
  color: #151617;
}
#github:active {
  text-decoration: underline;
}
#resumeParagraph {
  text-align: justify;
  font-size: 17px;
}
.mainDetails {
  font-weight: bold;
}
#lateral {
  background-color: #064249;
  border-radius: 4px;
  color: #fff;
  padding: 20px;
  margin: 5px;
  width: 75%;
}

#lastSection {
  display: flex;
}
#mainSection {
  padding: 20px;
  margin: 25px;
}
#second {
  margin-left: 50px;
}

@media (max-width: 900px) {
  body {
    margin: 0px;
    padding: 0px;
  }
  main {
    width: 100%;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
  }
  #lateral {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin: 0px;
  }
  #mainSection {
    padding: 0px;
    margin: 0px;
  }
  #lastSection {
    flex-direction: column;
  }
  #second {
    margin: 15px 0 0 0;
  }
}
